/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 /* universal */
body {
   font-family: 'PT Sans', sans-serif;
   line-height: 1.5;
   background: #eceec7;
 }

header {
  width: 100%;
  background: black;
}

.player {
  float: right;
}

.song-list {
  column-fill: balance;
}
.track-list {
  display: inline;
}

.landing-list {
  font-size: 25px;
}

ul {
list-style-type: none;
}

li {
  list-style-type: none;
}

header nav {
  /*max-width: 960px;*/
  margin: 0 auto;
  height: 80px;
  line-height: 80px;
  background: #404040;
}

header nav ul {
  height: 80px;
  line-height: 80px;
}

header nav ul li:first-child {
  float: left;
  padding: 0;
  font-size: 35px;
}

header nav ul li {
  display: inline;
  list-style-type: none;
  height: 80px;
  line-height: 80px;
  float: right;
  padding: 5px 10px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
}


main, footer {
  max-width: 960px;
  margin: 25px auto;
}
